body{
    background-color:#5cbbf2;
    color: #fefbe8;
    font-family: 'Quicksand', sans-serif;
}
h1{
    text-align: center;
    margin-left: 25%;
    margin-top: 60px;
    width: 500px;
}
p{
    text-align: center;
    margin-left: 25%;
    font-size: 20px;
    width: 500px;
}
#wrapper2{
    text-align: left;
    margin-left: 25%;
}
.button{
    background-color: #2979a7;
    color: #fefbe8;
    border: none;
    border-radius: 4px;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/*.view-radio{
    background-color: #2979a7;
    color: #fefbe8;
    padding: 10px 20px;
    margin: 40px;
    border-radius: 4px;
    display: inline-block;
    font-size: 12px;
}
/*.check-container{
    width: 20%;
    display: inline-block;
    text-align: left;
    padding: 14px 32px;
    color: #fefbe8;
    font-size: 16px;
}*/
select {
    width: 20%;
    display: inline-block;
    margin: 10px;
    padding: 12px 10px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: medium;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #18587d;
}
